.converter {
	display: flex;
	justify-content: center;

	&__wrapper {
		width: 450px;
		max-width: 90%;
	}

	&__form {
		position: relative;
		padding: 40px 0px 25px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 25px 15px;
	}

	&__rate {
		text-align: center;
	}

	&__switchBtn {
		position: absolute;
		top: 50%;
		right: 5px;
		color: var(--gray-dark);
		user-select: none;

		&:hover {
			color: var(--orange);
			transform: rotate(360deg);
		}
	}

	&__loading {
		text-align: center;
	}
}

@media screen and (min-width: 375px) {
	.converter {
		&__switchBtn {
			right: 15px;
		}
	}
}

@media screen and (min-width: 475px) {
	.converter {
		&__form {
			padding: 50px 45px 25px;
			gap: 25px 15px;
		}

		&__switchBtn {
			right: 25px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.converter {
		&__switchBtn {
			transition: transform 0.3s ease-in;
			&:hover {
				color: var(--orange);
				transform: rotate(360deg);
			}
		}
	}
}
