.converter {
	display: flex;
	justify-content: center;

	&__wrapper {
		width: 450px;
		max-width: 90%;
	}

	&__form {
		position: relative;
		padding: 50px 50px 25px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 25px 15px;
	}

	&__rate {
		text-align: center;
	}

	&__switch {
		position: absolute;
		top: 50%;
		right: 20px;
		color: var(--gray-dark);
		user-select: none;
		transition: transform 0.3s ease-in;

		&:hover {
			color: var(--orange);
			transform: rotate(360deg);
		}
	}
}
