@import 'material-icons/iconfont/material-icons.css';

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--gray-light: #f9fafb;
	--gray-dark: #6b7280;
	--white: #fff;
	--orange: #fb923c;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--gray-light);
}

h1,
h2,
h3 {
	margin: 0;
}

button {
	padding: 0;
	border: none;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
}
